@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.5);
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
}